<div class="books">
<h1>Reading</h1>

  <h2>Books</h2>
    <ul>
      <h1></h1>
      <li><a href="https://www.amazon.com/Better-Angels-Our-Nature-Violence/dp/0143122010">The Better Angels of Our Nature</a></li>
      <h1></h1>

      <h1></h1>
      <li><a href="https://www.amazon.com/Designing-Data-Intensive-Applications-Reliable-Maintainable/dp/1449373321">Designing Data Intensive Applications</a></li>
      <h1></h1>

      <h1></h1>
      <li><a href="https://www.amazon.com/Designing-Data-Intensive-Applications-Reliable-Maintainable/dp/1449373321">Designing Data Intensive Applications</a></li>
      <h1></h1>

    </ul>

  <h2>Websites</h2>
    <ul>
      <h1></h1>
      <li><a href="https://teachyourselfcs.com/">Teach Yourself CS</a></li>
      <h1></h1>
    </ul>

  <h2>Quotes</h2>
    <ul>
      <h1></h1>
      <li><a>"test quote test"</a></li>
      <h1></h1>
    </ul>
</div>
