
.blog-index-body {
    background-attachment: fixed;
}
.blog-index {
    -ms-flex: 1; /* IE 10 */
    flex: 1;
}

.blog-card {
    overflow-wrap: normal;
    word-break: break-all;
    opacity: 1;
    overflow: scroll;
}
