
.blog-index-body {
    background-attachment: fixed;
}
.blog-index {
    display:inline-flex;
    flex-wrap: wrap;
}

.blog-card {
    overflow-wrap: normal;
    word-break: break-all;
    opacity: 1;
}
