
.blog-card {
    height: 300px; 
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    /*word-break:break-all;*/
    opacity: 1;
    color: black;
    font-family: "Papyrus", Times, serif;
   /* background-image: url('/assets/images/pretty-graphic.png') */

}


.description-text {
    font-family: "Papyrus", Times, serif;
    opacity:1;
    margin-left: 4%;
    margin-right: 4%;
    height: 1%;
    max-width: 90%;
    margin-bottom: 3%;
}
.description-image{
    opacity:1;
    margin-left: 4%;
    margin-right: 4%;
    height: 1%;
    max-width: 40%;
    margin-bottom: 5%;
}
 
