<mat-card appMaterialElevation class="blog-card" >
    <a [routerLink]="['/paper', linktitle]">
    <mat-card-header>
        <mat-card-title>
        {{title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{publication_date}}
        </mat-card-subtitle>
        <img mat-card-avatar src="/assets/images/headshot.png"/>
    </mat-card-header>
    </a>

    <mat-card-content>
        <div class="description">
        {{description}}
        </div>
        <img mat-card-image  class="description" src="/assets/images/pretty-graphic.png" alt="Photo of a Shiba Inu"/>
    </mat-card-content>
</mat-card>
<!--
<mat-card class="blog-card">
    <a [routerLink]="['/paper', linktitle]">
    <mat-card-header>
        title
        <img mat-card-avatar src="/assets/images/heashot.jpg"/>
    </mat-card-header>
    </a>
    <mat-card-content>header</mat-card-content>
    <img
    mat-card-image
    src="/assets/images/nyc.png"
    alt="Photo of a Shiba Inu"
  />

</mat-card>
-->
