.blog-card {
    height: auto;
    max-height: 300px;
    width: 70%;
    margin: 1% 10px;
    opacity: 0.8;
    color: black;
    font-family: "Papyrus", Times, serif;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.blog-card:hover {
    opacity: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: black;
    border: solid white;
    cursor: pointer;
}

.blog-card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.blog-card .card-content {
    padding: 10px;
}

.blog-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.blog-card .description-text {
    font-family: "Papyrus", Times, serif;
    font-size: 1.2rem;
    opacity: 0.8;
    margin-bottom: 10px;
    text-align: left;
}

