.title {
  padding: 30px 0;
  text-align: center;
  font-family: "Papyrus", Times, serif;
  color: black;
  opacity: 0.7;
  font-size: 1.5rem;
}

.mat-divider {
  border-top-width: 2px;
  opacity: 1;
  margin: 0 auto;
  max-width: 80%;
}

.date {
  padding: 0px 0 10px;
  font-family: "Papyrus", Times, serif;
  text-align: center;
  color: darkgrey;
  font-size: 1rem;
}

.doc {
  padding: 20px 0 50px;
  font-family: "Lake", Times, serif;
  text-align: left;
  color: lightgrey;
  font-size: 0.8rem;
  margin: 0 10%;
}

